*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    ::-webkit-scrollbar{
        opacity: 0;
                }
    ;}
    :root{
    --jobs-background:url('../pages/images/jobs\ landing.svg');
    --services-background:url('../pages/images/Cards.jpg');
    --apply-bg:url('../pages/images/applyJob.jpeg');
    --true:url('../pages/images/true.svg');
    --slider-1:url('../pages/images/Slider.png');
    --slider-2:url('../pages/images/slider2.jpg');
    --slider-3:url('../pages/images/Slider3.jpg');
    --slider-4:url('../pages/images/Slider4.jpg');
    --radio:url('../pages/images/Radio\ Button.svg');
    --radio2:url('../pages/images/Radio\ Button2.svg');
    --check:url('../pages/images/gg_check-r.svg');
    --Text-Color:#090F24 ;
    --main-color:#072AC8;
    --input-field-70:rgba(132, 132, 132, 0.70);
    --Disabled-Text-Color:#848484;
    --Details-Text-Color:#626262;
    --White:#fff;
    --Stroke:#BDBDBD;
    --bg2-color:#E9EBF8;
    --BG-color-20: rgba(218, 219, 225, 0.194);
    --r-16:1%;
    --S-Spacing:.5%;
    --best-m:3.5%;
    --best-p:3.5%;
    --best-gap:2%;
    --Rad-8:.5%;
    --Sec:#FF9209;
}

.Container{
    width: 95%;
    margin: auto;
}
a{
    text-decoration: none !important;
    width: 100%;
    color: var(--main-color) !important;
}
ul{
list-style: none;   
}
input, 
select{
    width: 100%;
    border: none;
    outline: none;
}
.logo {
    width: 15%;
    }
    input[type="file"]{
        opacity: 0;
        width: 0;
        }
        .edit{
            background-color: #FFF;
        }

//--------------------------------------------------------------------------------------------------------------------------------------


