$max_mobile:"max-width:577px";
$max_tablet:"max-width:767px";
$max_laptop:"max-width:991px";
$max_largeScreen:"max-width:1200px";
$max_xLargeScreen:"max-width:1400px";
$max-sm-mobile:"max-width:400px";

.logo{
    width: 10%;
    img{
        margin-top: 1%;
        background: url(<path-to-image>) lightgray 50% / cover no-repeat;
        width: 100%;
    }

}
//////////////////////////////////////////////////////////////
header{
    p{
        color: var(--White);
        background: var(--main-color, #072AC8);
        a{color: var(--White) !important;
        }
        img{right: 7%;}
        cursor: pointer;
    }
    form{
        width: 40%;
        display: flex !important;
        input{
            border-radius: 60px !important;
            text-indent: 10%;
    }
    img{
        left: 3%;
    }
}
    ul{

        li{
            text-align: center;
            cursor: pointer;
            a{
                color: var(--Text-Color, #090F24) !important;
                position: relative;
                width: 100%;
            }
            .active{
                color: var(--main-color, #072AC8) !important;
                font-weight: 500;
                transition: all .5s;
                &::after{
                    content: '';
                    position: absolute;
                    width: 130%;
                    background-color:var(--pr, #072AC8);
                    height: 3px;
                    bottom: -15px;
                    left: -10%;
                    border-radius: 10px;
                }
            }
        }
    }


@media ($max_laptop) {
    form{
        width: 75%;
    }
    ul{
        position: absolute;
        width: 50%;
        top: 0;
        right: 0;
        height: 100vh;
    background-color: #000000e9 ;
align-items: normal !important;
z-index: 2;
    li{
padding: 5% 0;
    margin: 0 !important;
    &:not(:last-child){
    border-bottom: 1px solid white;
    }
    .active{
        &::after{
            display: none;
        }
    }
    a{
        color: var(--White) !important;
    }
}
}
}
@media ($max-tablet) {
    .logo{
        width: 50%;
    }
    ul{width: 100%;}
}
    buttons{
        a{
            text-decoration: none;
        }
        button{
        display: flex;
        justify-content: center;
border-radius: 8px;
font-size: 12px;
font-weight: 600;
    } 
    .login{
border: 1px solid var(--pr, #072AC8);
background: var(--White);
a{
    color: var(--main-color) !important;
    width: 80px !important;
// padding: none !important;

}
}
    .sign{
background: var(--main-color, #072AC8);
a{color: var(--White) !important;
    width: 80px !important;

    // padding: 5px 40px !important;
}
    }
    
}
}

footer{
    border-top: 0.5px solid var(--Stroke, #BDBDBD);
h2{
    color: var(--Text-Color, #090F24);
}
.left{
    width: 30%;
border-right: 1px solid var(--Stroke);
}
.center{
    width: 40%;
    h2{
        color: var(--Text-Color, #090F24);
letter-spacing: 0.1px;
    }
    .links{
        img{
            cursor: pointer;
        }
    }

}
.right{
    width: 30%;
border-left: 1px solid var(--Stroke);
a{
    color: var(--Text-Color) !important;
}

    p{
    color: var(--Text-Color, #090F24);
line-height: 272.9%; /* 49.122px */
cursor: pointer;
transition: all 1s;
@media (min-width:1024px) {
    &:hover{
        padding-left: 10%;
        >a{
            color: var(--main-color) !important;
        }
    }
}
}
}
.copyRight{
    color: var(--Details-Text-Color, #626262);
font-size: 14px;
}
@media ($max_mobile) {
    .left,.center,.right{
        width: 100%;
    }
}
}
.jobComponent{
    .job{
            background-color: var(--White);
            .left{
                width: 60%;
                .info{
                    width: 50%;
                    // margin-left: 5%;
                    h2,h3{
                        color: var(--Text-Color);
                    }
                    p{
                        color: var(--Details-Text-Color, #626262);
        font-size: 12px;
                    }
                }
            }
            .right{
                a{
                    color: var(--White) !important;
                }
                width: 40%;
                img{
                    width: 3%;
                    cursor: pointer;
                    top: 10%;
                    @media ($max_mobile) {
                        width: 10%;
                    }
                }
                button{
        width: 35%;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 5%;
                }
            }
        @media ($max_tablet) {
            .left,
            .right{
                width: 100%;
            }

        }
        }
}

