$max_mobile:"max-width:577px";
$max_tablet:"max-width:768px";
$max_laptop:"max-width:992px";
$max_largeScreen:"max-width:1200px";
$max_xLargeScreen:"max-width:1400px";
$max-sm-mobile:"max-width:400px";


$slider1:url(../images/Slider.png);
$slider2:url(../images/slider2.jpg);
$slider3:url(../images/Slider3.jpg);
$slider4:url(../images/Slider4.jpg);
.home{
    background-color: #fff;
    .landing{
            img:not(:nth-of-type(2)){
    width: 100%;
        }
        .left{
            width: 60%;
            .buttons{
                .learn{
                    border: none;
                    background: none;
                }}
            }
        .right{width: 40%;
            img{height: 100%;}
    }
        @media ($max_tablet) {
            .buttons{margin:0 !important;}
            .start{padding: 3% 0 !important;}
.learn{
    background-color: var(--Details-Text-Color);
    img{
        width: 10% !important;
    }
}}}
.services {
background: var(--BG-color-20,rgba(230, 234, 250, 0.256)) ;
ul{
width: 90%;
li{
    border-radius: 4px;
    box-shadow: 5px 5px 20px 5px rgba(17, 24, 39, 0.05);
width: 20%;
margin: 2% 4%;
align-items: center;
text-align: center;
flex-shrink: 0;
img{
    width: 20%;
}
}
.white{
    color: var(--pr, #072AC8);
    img{
    border-bottom: 2px solid rgba(128, 128, 128, 0.491);
    }
    }
    .blue{
        background-color: var(--main-color);
        color: var(--White);
        img{
            border-bottom: 2px solid var(--White);
        }
}
}
@media ($max_mobile) {
    li{
    width: 90% !important;
    margin: 0 auto;
}
}   
}




@keyframes slider {
    0%{
    background:var(--slider-1)  no-repeat center;
    }
    25%{
        background: var(--slider-2)  no-repeat center;
    }
    50%{
            background: var(--slider-3)  no-repeat center;
        }
    75%{
            background: var(--slider-4)  no-repeat center;
        }
    100%{
            background: var(--slider-1)  no-repeat center;
        }
    }
.slider{
    
    background-size: cover;
        border-radius: 8px;
        animation: slider 15s ease-in-out infinite;
main{
    h2{
        color: var(--White);
font-size: 48px;
    }
    p{
        color: var(--White);
line-height: 40px; /* 146.875% */
letter-spacing: 0.16px;
    }
    button{
width: 35%;
border-radius: 16px;
background: var(--Sec, #FF9209);
border: none;
a{
    color: var(--White) !important;
}
    }
}
.bullets{
    .bullet1{
        width: 40px ;
        height: 10px;
        border-radius: 8px !important;
        background-color: var(--bg2-color) ;
    }
    .bullet2,.bullet3,.bullet4{
        width: 10px ;
        height: 10px;
        background-color: var(--White);
    }
}
}
.jobs{
    background-color: var(--BG-color-20);
.button{
    color: var(--main-color, #072AC8);
    background: none;
width: 15%;
border-radius: 4px;
border: 1px solid var(--main-color, #072AC8);
@media ($max_tablet) {
    width: 50%;
}}}
}
//community----------------------------------------------------------------------------
.community{
    height: 170vh;

    .profile{
        width: 25%;
        height: fit-content;
        border-radius: 8px;
border: 0.2px solid var(--Stroke, #BDBDBD);
background: var(--White, #FFF);
box-shadow: 2px 2px 5.2px 0px rgba(0, 0, 0, 0.10);
h2{
    color: var(--Text-Color, #090F24);
}
    .profile{
    width: 100px;
    height: 100px;
    border: 3px solid var(--White);
    margin-top: -15%;
    }
    p{
        color: var(--Details-Text-Color, #626262);
        font-family: Lato;
        line-height: 165%; /* 19.8px */
    }
    .boxes{
        .box{
            border-radius: 8px;
background: rgba(7, 42, 200, 0.04);
h3{
    color: var(--Text-Color, #090F24);
}
h4{
    color: var(--main-color, #072AC8);
}
        }
    }
    .skills{
        h2{
            border-bottom: .5px solid var(--Stroke ,#BDBDBD);
        }
        span{
            color: var(--Text-Color, #090F24);
font-size: 16px;
font-weight: 500;
line-height: 20px; /* 125% */
margin: 0 3%;
        }
    }
    button{
border: 1px solid var(--main-color, #072AC8);
background: none ;
color: var(--main-color);
width: 90%;
    }
}
    .publish{
        width: 50%;
        &::-webkit-scrollbar{
opacity: 0;
        }
        .head{
            border-radius: 4px;
background: var(--BG-color-20, rgba(230, 234, 250, 0.20));
box-shadow: 0px 4px 11.7px 0px rgba(0, 0, 0, 0.08);
        .group{
            input{
                outline: none;
            }
            label{
                img{
                    width: 50px;
                    height: 50px;
                }
            }
        }
        ul{
            border-top: 1px solid var(--Stroke, #BDBDBD);
            li{
                cursor: pointer;
                &:not(:first-child){
                border-left: 1px solid var(--Stroke, #BDBDBD);      
                    }  
                        }
                        .active{
                            border-radius: 0px 0px 4px 0px;
                            background: var(--pr, #072AC8);
                        color: white;
                        }
        }
    }
    .post{
        .source{
            width: 60px;
            height: 60px;
        }
        .info{
            .name{
                width: 80%;
                h6{
                    color: var(--Disabled-Text-Color, #848484);
                }
            }
            .more{
                cursor: pointer;
            }
            .list{
                border-radius: 8px !important;
                box-shadow: 3px 3px 3px 3px rgba(128, 128, 128, 0.712);
                right: -15px;
                top: -10px;
                button{
                    background-color: white;
                    color: black;
                    border-radius: 0 !important;
                    &:last-of-type{
                        border-top: 1px solid gray;
                    }
                }
            }
        }
        .content{
            img{
                width: 100%;
            }
        }
        .tools{
            border-top: 0.2px solid var(--Disabled-Text-Colo, #84848440);
            padding: 3% 2% 0;
            .likes, .comment, .share{
                cursor: pointer;
            }
        }
        .comments{
input{
    background: var(--bg2-color);
    border-radius: 6px;
}
.one-comment{
    .source{
        width: 50px;
        height: 50px;
    }
}
        }
    }
    }
    .suggestion{
        width: 25%;
        height: fit-content;
        border-radius: 8px;
border: 0.2px solid var(--Stroke, #BDBDBD);
background: var(--White, #FFF);
box-shadow: 2px 2px 5.2px 0px rgba(0, 0, 0, 0.10);
.job{
    .info{
        h2{
font-size: 12px;
font-weight: 600;
        }
        h3{
            color: #666;
font-size: 10px;
font-weight: 400;
line-height: 20px; /* 200% */
        }
        p{
            color: var(--Details-Text-Color, #626262);
font-size: 10px;
font-weight: 400;
        }
    }
}
p{
    color: var(--main-color, #072AC8);
font-size: 12px;
cursor: pointer;
img{
    transform: rotate(90deg);
}
}
    }
    @media ($max_laptop) {
        .publish{
        width: 65% !important;
    }
    .profile{
        width: 35% !important;
    }
    }
@media ($max_mobile) {
    .publish{
    width: 100% !important;
}
}
@media ($max-sm-mobile) {
ul{
    li{
      gap: 0 !important;  
      font-weight: normal !important;
    }
}
}
}
.push{
    background-color: rgba(255, 255, 255, 0.683);
    .center{
        width: 35%;
        background-color: #fff;
        transform: translate(-50%,-50%);
        border-radius: 8px;
        box-shadow: 2px 2px 5px 5px rgba(128, 128, 128, 0.795);
        h2{
            border-bottom: 1px solid gray;
        }
        .x{
            background-color: rgba(128, 128, 128, 0.587);
            border-radius: 50%;
        }
        .icon{
            cursor: pointer;
            border-radius: 50%; 
            background-color: rgba(128, 128, 128, 0.587);
            right: 10px;
        }
        .upload{
            // background-color: #000;
            border-radius: 8px;
            height: 35vh;
            cursor: pointer;
            label{
                transform: translate(-50%,-50%);
                cursor: pointer;
                img{
                    border-radius: 8px;
                }
                .label{
                    transform: translate(-50%,-50%);

                }
            }
        }
        @media ($max-tablet) {
            width: 60% !important;
        }
        @media ($max-mobile) {
            width: 90% !important;
        }
    }
    }
//courses-------------------------------------------------------------------------------------------------------
.courses{
    h1{color: var(--Text-Color, #090F24);}
    .courses-group{
        
        .head{
            p{
                color: var(--main-color, #072AC8);
text-decoration-line: underline;
cursor: pointer;
img{
    width: 10%;
}
            }
        }
        .group{
            
            @media ($max_tablet) {
                margin-left: 2% !important;
            }
            
        .course{
            cursor: pointer;
            width: 25%;
            @media ($max_mobile) {
                width: 100%;
            }
            align-self: stretch;
            img{
                border-radius: 4px;
            }
            .info{
                h1{
                    color: var(--Text-Color, #090F24);
}
                h2{
                    color: var(--Details-Text-Color, #626262);
font-size: 14px;
                }
                p{
                    color: var(--main-color, #072AC8);
font-size: 14px;
span{
    color: var(--Sec, #FF9209);
    font-size: 8px;
    border-radius:  16px;
    background: rgba(255, 146, 9, 0.08);
}
                }
            }
        }
    }
    }
}
.details{
    .back{
        background: linear-gradient(150deg, rgba(7, 42, 200, 0.05) 18.08%, rgba(7, 42, 200, 0.00) 71.04%);
    }
    .left{
        width: 65%;
        button{
            width: 35%;
        }
        ul:first-of-type{
            border-bottom: 2px solid rgba(229, 231, 232, 0.70);        a{
            color: var(--Text-Color) !important;
            font-weight: 600;
            font-size: 18px;
        }
        .active{
            color: var(--main-color) !important;
            border-radius: 4px;
background: #F5F7F8 !important;
padding: 12px 10px;
        }
    }
    .about{
        p{
            color: var(--Details-Text-Color);
            line-height: 24px;
            font-weight: 400 ;
            span:first-of-type{
                color: var(--main-color);
            }
        }
        h6{
            color: var(--Details-Text-Color);
        }
            }


            }
    .right{
        width: 30%;
        height: fit-content;

        background: var(--White);
        box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.20);
        border-radius: 8px;
        img{
            border-radius: 4px;
        }
        h6{
            font-size: 14px;
            color: var(--Details-Text-Color);
           &:first-of-type{
            border-bottom: 2px solid #E5E7E8;       
           }
            span{
            color: var(--Text-Color);
        }
        .brd2{
            border-right: 2px solid;
        }
        }
    }
    .member {
        border-radius: 8px;
border: 2px solid var(--Stroke, #BDBDBD);
        p{
            color: var(--Details-Text-Color);
    }
}
.reviews{
    .aside{
        width: 35%;
        h6{
            width: 20%;
        }
    }
    .main{
        width: 65%;
        p{
            color: var(--Details-Text-Color);
        }
    }
}
@media ($max_laptop) {
    .landing{
        padding-top: 0 !important;
    .left,.right{
        width: 100% ;
    }
}
}
@media ($max-tablet) {
    .landing{
        ul{
            justify-content: center !important;
            li{
                width: 50%;
            }
        }
        .width{
            width: 100% !important;
        }
    }
    .member{
        width: 46%;
    }
    .skills{
        li{
            padding: 10px 0;
        }
    }
    .reviews{
        .left,.right{
            width: 100%;
        }
    }
}
@media ($max-mobile) {
    .landing{
        ul{
            li{
                width: 100% !important;
                padding: 5px 0;
            }
        }
        button{
            width: 50%;
        }
    }
    .learn{
        gap: 0 !important;
        .left, .right{
            width: 100% !important;
        }
    }
.members{
    .member{
        width: 100%;
    }
}

.reviews{
    .left{
        h6{
            width: 35% ;
        }
    }
}
}
}

.enroll{
    h6{
        color: var(--Disabled-Text-Color);
        span{
            color: var(--main-color);
        }
    }
    h3{
        background: var(--bg2-color);
        height: fit-content;
    color: var(--main-color);
    }
    h4 span{
        color: var(--main-color);
    }
h5{
    color: var(--Text-Color) !important;
}
a{
color: var(--Details-Text-Color) !important;
}
@media ($max-mobile) {
        .video{
            h5{
                font-size: 16px !important;
            }
            img{
                width: 12%;
            }
        }
}
}
.watch{
    h2{
        span{
            color: var(--input-field-70);
        }
    }
    h5{
        color: var(--Details-Text-Color);
    span{
        color: var(--Disabled-Text-Color);
    }
    }
    a{
        color: var(--main-color) !important;
    }
    .enroll{
        width: 60%;
    }
    .related{
        width: 40%;
    }
    @media ($max-mobile) {
        .enroll, .related{
            width: 100%;
        }
    }
}
//quiz pages---------------------------------------------------------------------------------------
.quiz{
.home{
main{
    width: 50%;
h2{
color: #333;
font-size: 48px;
@media ($max_tablet) {
    font-size: 32px;
}
}
p{
color: #828282;
}
}
img{
    width: 50%;
}
@media ($max-mobile) {
main,img{
width: 100% !important;
}
}
}
.daily-tasks{
header{
.text{
// h1:first-child{
// color: var(--main, #072AC8);
// }
h1{
color: var(--Details-Text-Color, #626262);
}
}
.score{
position: absolute;
right: 5%;
top: 10%;
h2{
color: var(--Sec, #FF9209);
}
span{
color: var(--main-color, #072AC8);
}
}
}
.tasks{
h4{
color: var(--Details-Text-Color, #626262);
}
ul{
li{
border-radius: 18px;
background: rgba(7, 42, 200, 0.03);
&:hover{
background-color: var(--main-color);
color: var(--White);
}
}
}
p{
color: rgba(98, 98, 98, 0.60);
}
}

.question{
.task{
p{
color: var(--Disabled-Text-Color, #848484);
}
.state{
border-radius: 16px;
background: rgba(7, 42, 200, 0.03);
backdrop-filter: blur(2px);
h4{
color: var(--main-color, #072AC8);
border-right: 3px solid var(--BG-color,#E6EAFA);
}
}
}
}
button{
width: 40%;
margin:  auto;
}

button:nth-of-type(2){
border: 1px solid #626262;
background: none;
color: #626262;
}
@media ($max_mobile) {
    header{
        h1,h2{
            font-size: 32px !important;
        }
    }
    ul{
        padding: 0;
    li{
        padding: 10px 15px !important;
    }
}
}
}
.questions{
@extend .daily-tasks;
width: 80%;
.text{
h2{
color: var(--Sec) !important;
}
}
.range{
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
width: 80%;
height: 10px;
border-radius: 89px;
position: relative;
background: var(--White, #FFF);
align-self: center;
margin: 5% auto;
&::after{
content: "";
position: absolute;
background: var(--pr, #072AC8);
top: 0;
left: 0;
height: 10px;
width: 50%;
border-radius: 89px;
z-index: 11;
}
}
p{
color: var(--Details-Text-Color, #626262);
}
h3{
line-height: 48px; /* 205.556% */
}

form{
.group{
border-radius: 16px;
background: rgba(7, 42, 200, 0.03);
backdrop-filter: blur(2px);
input{
appearance: none;
width:40px;
height: 40px;
border-radius: 50%;
border:  2px solid gray;
transition: all .3s;    
cursor: pointer;
&:checked{
border: none;
background-color: black;
background-size: cover;
background: var(--true) center;
&+label{
color:#072AC8;
padding-left: 5%;
}
}
}
label{
cursor: pointer;
transition: all .5s;
}
}
}
}
.result{
@extend .questions;
p{
border-radius: var(--r-12, 12px);
background: rgba(7, 42, 200, 0.03);
color: var(--main-color, #072AC8);
}
}
}
// jobs pages---------------------------------------------------

$jobs-background:url(../../images/jobs\ landing.svg);
.jobs{
.landing{
    height: 100vh;
    background:var(--jobs-background) no-repeat center ;
    background-size: cover;
        &::after{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            background: rgba(0, 0, 0, 0.555);        
        }
        .content{
            width: 60%;
            .text{
            margin-top: 15%;
            h2{
            font-size: 56px;
            line-height: 1.5;
            color: var(--White);
            }
            p{
            font-weight: 500;
            color: var(--White);
            }
            button{
            width: 45% ;
            }

            @media ($max-mobile) {
                width: 100% !important;
            }   
        }
        @media ($max_tablet) {
            width: 90%;
        }
        @media ($max-mobile) {
            margin-left: 2% !important;
h2{
    font-size: 40px !important;
}
        }   
        }

    }
.categories{
.tracks{
.only-one{
width: calc(100%/3);
background: var(--services-background) ;
img{
    width: 20%;
}
p{
span{
color: #072AC8;
}
}
}
}
button{
border-radius: 4px;
border: 1px solid var(--pr, #072AC8);
color: var(--main-color, #072AC8);
background: none;
}
@media ($max_mobile) {
    .only-one{
        width: 50% !important;
    }
    button{
        width: 50% !important;
    }
}
}
.find-job{
    .left{
        width: 50%;
    }
.right{
    width: 50%;
h1{
line-height: 153.125%; /* 49px */
}
p{
color: var(--Details-Text-Color, #626262);
line-height: 153.125%; /* 27.563px */
}
ul{
li{
img{
background-color: #E6EAFA99;
border-radius: 50%;
padding: 2%;
}
}
}
button{
border-radius: 4px;
background: var(--main, #072AC8);
box-shadow: 4px 4px 13px 0px rgba(255, 255, 255, 0.25) inset;
color: var(--White);
}
}

@media ($max_tablet) {
    
    .left{
        width: 0;
    }
    .right{
        width: 100%;
    }
}
}
.jobList{
ul{
width: 80%;
border-bottom: 2px solid rgba(229, 231, 232, 0.70);
li{
    a{
        color: var(--Text-Color) !important;
    }
.active{
color: var(--main-color, #072AC8) !important;
font-weight: 700 !important;
}
@media ($max_mobile) {
    width: 40%;
    margin-bottom: 10px;
}
}
@media ($max_tablet) {
    width: 100%;
}
}

button:last-child{
width: 20%;
background: none;
border-radius: 4px;
border: 1px solid var(--pr, #072AC8);
a{
color: var(--main-color, #072AC8) !important;
}
@media ($max_mobile) {
    width: 35%;
}
}
}

}
.applyJob{
.landing{
height: 100vh;
background: var(--apply-bg)  no-repeat   ;
background-size: cover;
&::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #000000b1;
}
.Container{
    left: 4%;
    transform: translateY(-50%);
    z-index: 1;
h2{
font-size: 56px;
color: var(--White);
}
p{
width: 35%;
color: var(--White);
}
button{
width: 20%;
a{
    color: var(--White) !important;
}
} 
}
@media ($max_tablet) {
    p{
        width: 90% !important;
    }
    button{
        width: 50% !important;
    }
}
}
.job-details{
span{
color: #072AC8;
}
.text{
p{
color: var(--Details-Text-Color, #626262);
line-height: 180%; /* 43.2px */
letter-spacing: 0.97px;
}
ul{
list-style: inside;
color: var(--Details-Text-Color, #626262) !important;
}

@media ($max_tablet) {
    p{
        width: 100% !important;
    }
}
}
button{
    width: 40%;

&:nth-of-type(2){
    background: none;
    color: var(--main-color );
    border: 1px solid var(--main-color);
}
}
@media ($max-mobile) {
    width: 70%;
    
}
}
}

.apply{
    z-index: 2;
background: rgba(9, 15, 36, 0.509);   
.form{
bottom: 7%;
left: 2%;
width: 95%;
border-radius: 24px;
background: var(--White);
box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.20);
form{
width: 40%;
@media ($max_tablet) {
    width: 90%;
}
.cv{
border: 3px dashed var(--Stroke, #BDBDBD);
box-shadow: 4px 4px 11.3px 0px rgba(0, 0, 0, 0.15);
border-radius: 8px;
.labelCv{
color: var(--input-field-70, rgba(132, 132, 132, 0.70));
cursor: pointer;
}
}
button{
width: 115%;
margin-left: -7%;
@media ($max_tablet) {
    width: 70%;
    margin: 5% auto !important;
    padding: 5% 0 !important;
}
&:nth-of-type(2){
    color: var(--Details-Text-Color, #626262);
    border: 1px solid var(--Details-Text-Color);
    background: none;
}
}
}
}
}
//profile------------------------------------------------------------------------------
.profile{
    .cover{
        width: 100%;
        height: 50vh;
        cursor: pointer;
    }
        .file{
        cursor: pointer;
        position: relative;
        }
        .imgGroup{
        margin-top: -5%;
        width: 200px;
        height: 200px;
        img{
            border: 3px solid var(--White);
        }
        }
        
        h5{
            color: var(--Details-Text-Color, #626262);
        }
        .boxes{
            h5{
                color: var(--Text-Color); 
                background-color: #000;
                border-radius: 8px;
                background: rgba(7, 42, 200, 0.04);
                span{
                    color: var(--main-color);
                }
            }
        }
        .skills{
            h3{
                border-bottom: .5px solid var(--Stroke ,#BDBDBD);
            }
            .skill{
span{
    border-radius: 4px;
background: var(--BG-color-20, rgba(230, 234, 250, 0.20));
    font-size: 18px;
            &:first-child{
font-size: 24px;
}
}
        }
        }
        button{
            background: none ;
border: 1px solid var(--main-color, #072AC8);
color: var(--main-color);
        }
        @media ($max-mobile) {
            .width{
                width: 90% !important;
            }
            .profile{
                width: 150px !important;
                height: 150px !important;
            }
            .boxes{
                h4{
                    font-size: 16px !important;
                }
            }
        }
}
//payment--------------------------------------------------------------------------------------------------------
$empty-radio:url("../images/empty\ radio.svg");
.payment{
    .left{
        width: 60%;
        h6{
            span{
                color: var(--main-color, #072AC8);
            cursor: pointer;
            }
            }
    }
    .right{
        width: 40%;
        .inputGroup{
            button{
            color: var(--input-field-70, rgba(132, 132, 132, 0.70));
background: none;
        }
    }
    .course{
        border-bottom: 1px solid var(--Stroke, #BDBDBD);
        img{
            width: 35%;
            border-radius: 4px;
box-shadow: 3px 4px 13.3px 0px rgba(0, 0, 0, 0.20) inset;
        }
        .info{
        h5{
            color: var(--Details-Text-Color, #626262);
font-size: 12px;
        }
    }
    }
    h5{
        color: var(--Details-Text-Color, #626262);
    }
    h4{
span{
color:var(--main-color,#072AC8);
}
    }
}
form{
    width: 60%;
        
    .group{
        .radioGroup{   
    border-radius: 8px;
    border: 2px solid var(--Stroke, #BDBDBD);
    input[type="radio"]{
        width: 40px;
        height: 40px;
        transition: all .51s;
    }
    label{
        width: 100%;
    h6{
        color: var(--Disabled-Text-Color, #848484);
    }
        }
    }
    .date{
        width: 30%;
    }
    .cvv{
        width: 20%;
    }
            }
                input[type="checkbox"]{
        appearance: none;
        width: fit-content;
        border: 1px solid gray;
        border-radius: 4px;
        &:checked{
            border: none;
            background: var(--check) center no-repeat;
            background-size: cover;
        }
            }


            a{
                color: var(--White ) !important;
            }

}
@media ($max-tablet) {
    form{
        width: 100% !important;
    }
    .right{
        width: 50% !important;
        margin-top: 0 !important;
    }
    .left{
        width: 50% !important;
        radioGroup,inputGroup{
            width: 100% !important;
        }
    }
}
@media ($max-mobile) {
    
    .right{
        width: 100% !important;
    }
    .left{
        width: 100% !important;
    }
    .radioGroup,.inputGroup{
        width: 100% !important;
    }
}
}
