@use "./global";
@use "../pages/registration/regestrition";
@use'../pages/components/components.scss';
@use '../pages/student/std.scss';

$max_mobile:"max-width:577px";
$max_tablet:"max-width:767px";
$max_laptop:"max-width:992px";
$max_largeScreen:"max-width:1200px";
$max_xLargeScreen:"max-width:1400px";

//----------------------------------------------------------------------------------------




//---------------------------------------------------------------------------------------------------------------------










