@use "./global";
@use "./registration";
@use'./components';
@use './std';

$max_mobile:"max-width:577px";
$max_tablet:"max-width:767px";
$max_laptop:"max-width:992px";
$max_largeScreen:"max-width:1200px";
$max_xLargeScreen:"max-width:1400px";

//----------------------------------------------------------------------------------------
.companyJob{
    @media ($max_tablet) {
        img{
    width: 75% !important;
        }
        button{
            width: 65% !important;
        }
        
    }
}
.employee{
form div{
    width: 100% !important;
}
@media ($max_tablet) {
    button{
        width: 70% !important;
    }
}
}

.publish{
    width: 50%;
    &::-webkit-scrollbar{
opacity: 0;
    }
    .head{
        border-radius: 4px;
background: var(--BG-color-20, rgba(230, 234, 250, 0.20));
box-shadow: 0px 4px 11.7px 0px rgba(0, 0, 0, 0.08);
    .group{
        input{
            outline: none;
        }
        label{
            img{
                width: 50px;
                height: 50px;
            }
        }
    }
    ul{
        border-top: 1px solid var(--Stroke, #BDBDBD);
        li{
            cursor: pointer;
            &:not(:first-child){
            border-left: 1px solid var(--Stroke, #BDBDBD);      
                }  
                    }
                    .active{
                        border-radius: 0px 0px 4px 0px;
                        background: var(--pr, #072AC8);
                    color: white;
                    }
    }
}
.post{
    .source{
        width: 60px;
        height: 60px;
    }
    .info{
        .name{
            width: 80%;
            h6{
                color: var(--Disabled-Text-Color, #848484);
            }
        }
        .more{
            cursor: pointer;
        }
        .list{
            border-radius: 8px !important;
            box-shadow: 3px 3px 3px 3px rgba(128, 128, 128, 0.712);
            right: -15px;
            top: -10px;
            button{
                background-color: white;
                color: black;
                border-radius: 0 !important;
                &:last-of-type{
                    border-top: 1px solid gray;
                }
            }
        }
    }
    .content{
        img{
            width: 100%;
        }
    }
    .tools{
        border-top: 0.2px solid var(--Disabled-Text-Colo, #84848440);
        padding: 3% 2% 0;
        .likes, .comment, .share{
            cursor: pointer;
        }
        .liked{
            color: var(--main-color) ;
        }
    }
    .comments{
input{
background: var(--bg2-color);
border-radius: 6px;
}
.one-comment{
.source{
    width: 50px;
    height: 50px;
}
}
    }
}
}
.home{
    .publish{
        width: 80% !important; 
        margin: auto;
    }
}
.alert{
    background-color: rgba(10, 0, 0, 0.598) !important;
    .content{
        background-color: white;
        border-radius: 10px 50px;
        transform: translate(-50%,-50%);


    }
    .comments{
        background-color: white;
        border-radius: 10px 10px 0 0;
        top:10px;
        input{
            background-color: rgb(202, 202, 202) !important;
        }
.x-mark{
    top: 15px;
    left: 90%;
}
form{
    bottom: 0;
}
    }
    .x-mark{
        cursor: pointer;
 
    }
    @media ($max_tablet) {
        .content{
        width: 90% !important;
    }
    .comments{
        width: 100% !important;
    }
}
}
//---------------------------------------------------------------------------------------------------------------------










